<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>收租</title>
    <meta name="viewport"
          content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;"/>
    <meta http-equiv="Content-Type"  charset=utf-8" />
    <link href="__PUBLIC__/home/css/fd_fy.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/home/css/header_footer.css" rel="stylesheet" type="text/css" />

</head>
<body>
<header>
    <div class="rt-bk">
        <i class="bk"></i>
       <a href="myself.html"><p>返回</p></a>
    </div>
    <div class="top-name"><p>房源</p></div>
    <div class="top-ok"><p>完成</p></div>
</header>

    <table style="height: 0.5rem;line-height: 0.5rem;" class="liebiao" >
        <tr>
            <td style="padding-left: 0.1rem">
                <p ><font color="#D3D3D3">公寓名</font></p>
            </td>
            <td >
                <p ><font color="#D3D3D3">房源数量</font></p>
            </td>
            <td >
                <p ><font color="#D3D3D3">收租日期</font></p>
            </td>
            <td style="width: 10% ;font-size: 0.3rem;"></td>
        </tr>
    </table>



    <a  href="{:U("#")}" >

        <table style="height: 0.8rem;line-height: 0.8rem;" class="liebiao" >
            <tr >
                <td style="padding-left: 0.1rem">
                    <p ><font color="#575757" >蘑菇公寓</font></p>

                </td>
                <td  >
                    <p ><font color="#575757">2000.00</font></p>

                </td>
                <td >
                    <p ><font color="red">每月10号</font></p>

                </td>
                <td style="width: 5% ;font-size: 0.3rem;float: left"> > </td>
                <!--<img src="__PUBLIC__/Home/images/fangdong/qiandai.jpg">-->
            </tr>

        </table>

    </a>

    </body>
</html>
