<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body>

    <footer>
        <a href="{:U("fd_shouye")}">
        <div class="mune">
            <img src="__PUBLIC__/Home/images/fangdong/tabar1.jpg">
            <p>首页</p>
        </div>
        </a>
        <a href="{:U("fangtai")}">
        <div class="mune">
            <img src="__PUBLIC__/Home/images/fangdong/tabar2.jpg">
            <p>房源</p>
        </div>
        </a>
        <a href="{:U("self")}">
        <div class="mune">
            <img src="__PUBLIC__/Home/images/fangdong/tabar3.jpg">
            <p>个人中心</p>
        </div>
        </a>
    </footer>
</body>
</html>

