<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>房屋详情</title>
    <meta name="viewport"
          content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;"/>
    <meta http-equiv="Content-Type"  charset=utf-8" />
    <link href="__PUBLIC__/Home/css/header_footer.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Home/css/fwxiangqing.css" rel="stylesheet" type="text/css" />

</head>

<body id="content">


<header>
    <div class="rt-bk">
        <!--<i class="bk"></i>-->
       <!--<a href="{:U("edit_fwxq")}">-->
           <!--<p>编辑</p>-->
       <!--</a>-->
    </div>
    <div class="top-name"><p>房屋详情</p></div>
    <div class="top-ok">
        <a href="{:U("fwxinxi")}"><p>完成</p></a>
    </div>
</header>

<div class="room_num">
    <div >房间编号</div>
    <div>1001</div>

</div>
<div class="clear"></div>

<div class="jumplist">
    <ul style="list-style-type:none;padding-left: 0;margin-top: 0;">
        <li>
            <!--<a style=" text-decoration:none; color:#9d9d9d" href="{:U("fwxiangqing")}">-->
            <div class="querytitle">
                <div class="toolleft">
                    户型
                </div>
                <div class="toolmiddle">
                    主卧
                </div>
                <div class="toolright">

                </div>

            </div>
            <!--</a>-->
        </li>
        <li>
            <!--<a style=" text-decoration:none; color:#9d9d9d" href="{:U("fwxiangqing")}">-->
            <div class="querytitle">
                <div class="toolleft">
                    面积
                </div>
                <div class="toolmiddle">
                    20
                </div>
                <div class="toolright">
                    平米
                </div>
            </div>
            <!--</a>-->
        </li>
        <li>
            <!--<a style=" text-decoration:none; color:#9d9d9d" href="{:U("fwxiangqing")}">-->
            <div class="querytitle">
                <div class="toolleft">
                    租金
                </div>
                <div class="toolmiddle">
                    2000
                </div>
                <div class="toolright">
                    元
                </div>
            </div>
            <!--</a>-->

        </li>
        <li>
            <!--<a style=" text-decoration:none; color:#9d9d9d" href="{:U("fwxiangqing")}">-->
            <div class="querytitle">
                <div class="toolleft">
                    押付方式
                </div>
                <div class="toolmiddle">
                    押1付1
                </div>
                <div class="toolright">

                </div>
            </div>
            <!--</a>-->

        </li>
        <li>
            <!--<a style=" text-decoration:none; color:#9d9d9d" href="{:U("fwxiangqing")}">-->
            <div class="querytitle">
                <div class="toolleft">
                    房屋配置
                </div>
                <div class="toolmiddle">
                    冰箱，空调，洗衣机
                </div>
                <div class="toolright">

                </div>
            </div>
            <!--</a>-->

            </li>
            <li>
            <!--<a style=" text-decoration:none; color:#9d9d9d" href="{:U("fwxiangqing")}">-->
            <div class="querytitle">
                <div class="toolleft">
                    租客
                </div>
                <div class="toolmiddle">
                    张三
                </div>
                <div class="toolright">

                </div>
            </div>
            <!--</a>-->

            </li>

    </ul>
</div>

</body>
</html>
