<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>催租</title>
    <meta name="viewport"
          content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;"/>
    <meta http-equiv="Content-Type"  charset=utf-8" />
    <link href="__PUBLIC__/Home/css/zuhuxinxi.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Home/css/header_footer.css" rel="stylesheet" type="text/css" />

</head>

<body  id="content">

<header>
    <div class="rt-bk">
        <!--<i class="bk"></i>-->
        <a href="{:U("fwxinxi")}">
        <p>取消</p>
        </a>
    </div>
    <div class="top-name"><p>租房详情</p></div>
    <div class="top-ok"><p>保存</p></div>
</header>


<div class="jumplist">
    <ul style="list-style-type:none;padding-left: 0;margin-top: 0;">
        <li>

            <div class="querytitle">
                <div class="toolleft">
                    公寓名
                </div>
                <div class="toolmiddle">
                    蘑菇公寓
                </div>
                <div class="toolright">
                    >
                </div>

            </div>
        </li>
        <li>

            <div class="querytitle">
                <div class="toolleft">
                    房间编号
                </div>
                <div class="toolmiddle">
                    1001
                </div>
                <div class="toolright">
                    >
                </div>
            </div>

        </li>
        <li>

            <div class="querytitle">
                <div class="toolleft">
                    姓名
                </div>
                <div class="toolmiddle">
                    张三
                </div>
                <div class="toolright">

                </div>
            </div>

        </li>
        <li>

            <div class="querytitle">
                <div class="toolleft">
                    手机号
                </div>
                <div class="toolmiddle">
                    13010840001
                </div>
                <div class="toolright">

                </div>
            </div>

        </li>
        <li>
            <!--<a style=" text-decoration:none; color:#9d9d9d" href="{:U("fwxiangqing")}">-->
            <div class="querytitle">
                <div class="toolleft">
                    租金
                </div>
                <div class="toolmiddle">
                    2000.00
                </div>
                <div class="toolright">
                    元
                </div>
            </div>
            <!--</a>-->

        </li>
        <li>

            <div class="querytitle">
                <div class="toolleft">
                    押付方式
                </div>
                <div class="toolmiddle">
                    押1付1
                </div>
                <div class="toolright">

                </div>
            </div>

        </li>
        <li>

            <div class="querytitle">
                <div class="toolleft">
                    押金
                </div>
                <div class="toolmiddle">
                    2000.00
                </div>
                <div class="toolright">
                    元
                </div>
            </div>

        </li>
    </ul>
</div>

</body>
</html>
