body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input{ margin:0; padding:0;}
html {  width: 100%; font-family: 'Heiti SC', 'Microsoft YaHei'; font-size: 46px; outline: 0; -webkit-text-size-adjust:none;}
body {  width:100%; margin: 0; -webkit-user-select: none; position: relative; background-color:#efeff4;}
@font-face {
    /* font-properties */
    font-family: pictos;
    src:url(../font/myfont.TTC),
    url(../font/myfont.TTC),
    url(../font/myfont.TTC); /* IE9 */
}
.font-face{
    font-family: pictos;
}
@font-face {
    /* font-properties */
    font-family: my-font;
    src: url(../font/myfont.TTC);
}
.font-face2{
    font-family: my-font;
    color: green;
}


.querytitle{
    width: 80%;
    background: white;
    border: 0.1px solid#D3D3D3 ;
    border-radius: 10px;
    height: 0.9rem;
    line-height: 0.9rem;
    margin: 0.2rem auto;
}

.toolleft{
    float: left;
    width: 90%;
    margin-left: 1px ;
    height: 0.9rem;
    margin-top:0.05rem;
}

