body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input{ margin:0; padding:0;}
html {  width: 100%; font-family: 'Heiti SC', 'Microsoft YaHei'; font-size: 46px; outline: 0; -webkit-text-size-adjust:none;}
body {  width:100%; margin: 0; -webkit-user-select: none; position: relative; background-color:#efeff4;}
@font-face {
    /* font-properties */
    font-family: pictos;
    src:url(../font/myfont.TTC),
    url(../font/myfont.TTC),
    url(../font/myfont.TTC); /* IE9 */
}
.font-face{
    font-family: pictos;
}
@font-face {
    /* font-properties */
    font-family: my-font;
    src: url(../font/myfont.TTC);
}
.font-face2{
    font-family: my-font;
    color: green;
}
.head{
    width: 100%;
    background: url("../images/fd_shouye.jpg") no-repeat;
    background-size: cover;
    height: 6rem;
}
.souye{
    line-height: 1rem;
    filter:Alpha(opacity=90);
    opacity: 0.9;
    zoom:1;
    text-align: center;
    font-family: 'Microsoft Yahei', Tahoma, Arial, '苹方';
    color: white;
    font-size: 0.5rem;
}
.zuke{
   height: 4rem;
   padding-top: 0.5rem;
}

.zuke>div{
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    text-align: center;
    line-height: 1rem;
    background: #049ff1;
    filter:Alpha(opacity=90);
    opacity: 0.9;
    zoom:1;

}
.zuke>div>p:first-child{
    /*font-family: 'Microsoft Yahei', Tahoma, Arial, '苹方';*/
    color: white;
    font-size: 0.3rem;
}
.zuke>div>p:nth-of-type(n+2){
    /*font-family: 'Microsoft Yahei', Tahoma, Arial, '苹方';*/
    color: white;
    font-size: 0.5rem;
}
.zuke>div>p:last-child{
    /*font-family: 'Microsoft Yahei', Tahoma, Arial, '苹方';*/
    color: white;
    font-size: 0.3rem;
}
.middle{
    width: 100%;
    margin-top: 0.5rem;
    height: 5rem;
    background-color: white;
}
.jiaozu{
    color: #595959;
    float: left;
    width: 49%;
    margin-left: 0%;
    height: 5rem;
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 4px #d9d9d9;
    -webkit-box-shadow:  1px 1px 4px #d9d9d9;
    -moz-box-shadow:  1px 1px 4px #d9d9d9;
}
.jiaozu>img{
    width: 20%;
    height: 1rem;
    float: left;
    margin-top: 1.6rem;
    margin-left: 10%;
}
.jiaozu>div{
    float: left;
    width: 53%;
    margin-left: 5%;
    overflow: hidden;
    margin-top: 1.5rem;
}
.jiaozu>div>p:first-child{
    font-size: 0.35rem;
    margin: 0.2rem;
}
.jiaozu>div>p:last-child{
    font-size: 0.25rem;
    margin: 0.2rem;
}

.cuizu{
    color: #595959;
    float: right;
    width: 49%;
    margin-right: 0;
    margin-top: 0rem;
    height: 2.5rem;
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 4px #d9d9d9;
    -webkit-box-shadow:  1px 1px 4px #d9d9d9;
    -moz-box-shadow:  1px 1px 4px #d9d9d9;
}
.cuizu>img{
    width: 20%;
    height: 0.7rem;
    float: left;
    margin-top: 0.5rem;
    margin-left: 10%;
}
.cuizu>div{
    float: left;
    width: 53%;
    margin-left: 5%;
    overflow: hidden;
    margin-top: 0.5rem;
}
.cuizu>div>p:first-child{
    font-size: 0.35rem;
    margin: 0.2rem auto;
}
.cuizu>div>p:last-child{
    font-size: 0.25rem;
    margin: 0.2rem auto;
}
.clear{
    clear: both;
}


