body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input{ margin:0; padding:0;}
html {  width: 100%; font-family: 'Heiti SC', 'Microsoft YaHei'; font-size: 46px; outline: 0; -webkit-text-size-adjust:none;}
body {  width:100%; margin: 0; -webkit-user-select: none; position: relative; background-color:#efeff4;}
@font-face {
    /* font-properties */
    font-family: pictos;
    src:url(../font/myfont.TTC),
    url(../font/myfont.TTC),
    url(../font/myfont.TTC); /* IE9 */
}
.font-face{
    font-family: pictos;
}
@font-face {
    /* font-properties */
    font-family: my-font;
    src: url(../font/myfont.TTC);
}
.font-face2{
    font-family: my-font;
    color: green;
}


.clear{
    clear: both;
}



.jumplist{
    width: 100%;
    margin-top: 0.2rem;
}
.jumplist ul{
    padding:0;
    list-style: none;
    /*border-collapse:collapse;*/
}
.jumplist ul li{
    list-style: none;
    border: 1px solid #F6F6F6;
    border-top: none;
}

.querytitle{
    width: 100%;
    background: whitesmoke;
    border-bottom: 1px solid #f3f3f3;
    height: 0.9rem;
    line-height: 0.9rem;
    margin: 0 auto;
}
.toolleft{
    float: left;
    width: 28%;
    margin-left: 2%;
    font-size: 0.35rem;
    color: grey;
}
.toolmiddle{
    float: left;
    width: 54%;
    margin-left: 1%;
    font-size: 0.25rem;
    color: darkgray;
}

.toolright{
    float: left;
    width: 13%;
    text-align: center;
    color: grey;
    font-size: 0.35rem;
}


