body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input{ margin:0; padding:0;}
html {  width: 100%; font-family: 'Heiti SC', 'Microsoft YaHei'; font-size: 45px; outline: 0; -webkit-text-size-adjust:none;}
body {  width:100%; margin: 0; -webkit-user-select: none; position: relative; background-color:#efeff4;}
@font-face {
    /* font-properties */
    font-family: pictos;
    src:url(../font/myfont.TTC),
    url(../font/myfont.TTC),
    url(../font/myfont.TTC); /* IE9 */
}
.font-face{
    font-family: pictos;
}
@font-face {
    /* font-properties */
    font-family: my-font;
    src: url(../font/myfont.TTC);
}
.font-face2{
    font-family: my-font;
    color: green;
}

#content{
    text-align: center;
}
a{
    text-decoration:none;
}


.huxing{
    width: 100%;
    border-collapse:collapse;
}
.huxing tr{
    height: 1rem;
    line-height: 1rem;
    border: 1px solid #999999;
}
.huxing tr td img{
    float: left;
    margin: 0.15rem 0.2rem 0.15rem;
    width: 0.6rem;
    height: 0.7rem;

}
.huxing tr td div{
    float: left;
    line-height: 1rem;
    color: grey;
    font-size: 0.3rem;
}

.clear {
    clear: both;
}
