body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input{ margin:0; padding:0;}
html {  width: 100%; font-family: 'Heiti SC', 'Microsoft YaHei'; font-size: 46px; outline: 0; -webkit-text-size-adjust:none;}
body {  width:100%; margin: 0; -webkit-user-select: none; position: relative; background-color:#efeff4;}
@font-face {
    /* font-properties */
    font-family: pictos;
    src:url(../font/myfont.TTC),
    url(../font/myfont.TTC),
    url(../font/myfont.TTC); /* IE9 */
}
.font-face{
    font-family: pictos;
}
@font-face {
    /* font-properties */
    font-family: my-font;
    src: url(../font/myfont.TTC);
}
.font-face2{
    font-family: my-font;
    color: green;
}
html{
    font-size: 45px;
}
body{
    background: white;
}
.head{
    height: 5rem;
    width: 100%;
    background: url("../images/card_back.jpg");
    background-size: cover;
}
.zuke{
    width: 50%;
    float: left;
}
.zuke>div{
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    text-align: center;
    line-height: 2rem;
    margin-top: 1.5rem;
    filter:Alpha(opacity=90);
    opacity: 0.9;
    position:static;
    zoom:1;
}



.zuke>div>P{
    font-family: 'Microsoft Yahei', Tahoma, Arial, '苹方';
    color: white;
    position: relative;
    font-size: 0.5rem;
    font-weight: 100%;
}

.fangdong{
    width: 50%;
    float: right;
}

.fangdong>div{
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    text-align: center;
    line-height: 2rem;
    margin-top: 1.5rem;
    filter:Alpha(opacity=50);
    opacity: 0.8;
    position:static;
    zoom:1;
}

.select{
    background: #049ff1;
}

.unselect{
    background-color: #d9d9d9;
}

.fangdong>div>P{
    color: white;
    font-family: 'Microsoft Yahei', Tahoma, Arial, '苹方';
    position: relative;
    font-size: 0.5rem;
}
.clear{
    clear: both;
}
.login{
    width: 100%;
    margin: 0 auto;
    color: white;
    margin-top: 0.6rem;
}
.login div{
    font-size: 0.6rem;
}
.login>form  input {
    color: black;
    font-size: 0.3rem;
    font-family: 'Microsoft Yahei', Tahoma, Arial, '苹方';
}

.login>form>div>input[type=tel]{
    width: 5rem;
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
}

.login>form>div input[type=number]{
     width: 3rem;
    margin: 0 auto;
    border: none;
    outline: none;
    vertical-align: bottom;

 }

.login>form>div input[type=button]{
    width: 1.5rem;
    margin-bottom: 0.1rem;
    border-radius: 5px;
    background:#2cc2ff ;
    height: 0.65rem;
    border: none;outline: none;
    font-size: 0.2rem;
    color: white;
}

.login>form>div>P{
    display: inline-block;
    color: black;
    margin-left: -0.1rem;
    font-size: 0.2rem;
}
.login>form>input[type=submit]{
    width: 4.5rem;
    display: block;
    margin: 0 auto;
    background: #2cc2ff;
    color: white;
    border-radius: 35px;
    height: 0.8rem;
    border: none;
    outline:none;
}

.login>form>div{
    margin: 0.1rem auto;
    width: 5rem;
    /*padding: 0 0.5rem;*/
}
.login>form>div{
    border-bottom: 1px solid silver;
}

.login>form>div:nth-of-type(3){
    border-bottom: none;
}

.tool_msg{
    width: 80%;
    height: 0.5rem;
    color: #595959;
    /*display: none;*/
    margin: 0.1rem auto ;
    font-size: 0.3rem;
}


