body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input{ margin:0; padding:0;}
html {  width: 100%; font-family: 'Heiti SC', 'Microsoft YaHei'; font-size: 100px; outline: 0; -webkit-text-size-adjust:none;}
body {  width:100%; margin: 0; -webkit-user-select: none; position: relative; background-color:#efeff4;}
@font-face {
    /* font-properties */
    font-family: pictos;
    src:url(../font/myfont.TTC),
    url(../font/myfont.TTC),
    url(../font/myfont.TTC); /* IE9 */
}
.font-face{
    font-family: pictos;
}
@font-face {
    /* font-properties */
    font-family: my-font;
    src: url(../font/myfont.TTC);
}
.font-face2{
    font-family: my-font;
    color: green;
}
html{
    font-size: 45px;

}
a{
    text-decoration:none;
}
p{
    font-family: 'Microsoft Yahei', Tahoma, Arial, '苹方';
    font-size: 0.33rem;
    margin-bottom:2px;
    margin-top:2px;
    color: #575757;
}


.top{
    width: 100%;
    height: 1rem;
    background: #049ff1;
    line-height: 1rem;
    color: white;
    font-size: 0.5rem;
    text-align: center;
}

.gongyu{
    background: #3FB5F3   ;
    /*border-radius: 5px;*/
    width: 100%;
    margin: -1px auto;
    color: white;
}
.gongyu>div:first-child{

    border-radius: 5px;
    margin: 1px;
    height: 1.6rem;
    position: relative;
}
.total{
    width: 100%;
    height: 0.8rem;
    background: white;
    line-height: 0.8rem;
    border: 1px solid#D3D3D3 ;
    border-left: none;
    border-right: none;
}
.total>div:first-child{
    float: left;
    margin: 0rem 0.2rem 0;
    color: gray;
    font-size: 0.3rem;
}
.total>div:last-child{
    float: right;
    margin: 0rem 0.2rem 0 ;
    color: red;
    font-size: 0.3rem;
}
.place{
    width: 100%;
    height: 0.3rem;
    background: #FAFAFA ;
}
.list{
    width: 100%;
    height: 0.8rem;
    background: white;
    line-height: 0.8rem;
    /*margin-top: 0.5rem;*/
    border: 0.1px solid#D3D3D3 ;
    border-left: none;
    border-right: none;
}
.list>div:first-child{
    float: left;
    /*width: 69%;*/
    margin: 0rem 0.2rem 0;
    color: gray;
    font-size: 0.3rem;
}
.list>div:last-child{
    float: right;
    /*width: 29%;*/
    margin: 0rem 0.2rem 0 ;
    color: gray;
    font-size: 0.3rem;
    border: 0.1px solid#D3D3D3 ;
    /*border-left: none;*/
    border-right: none;
    border-top: none;
    border-bottom: none;
}
.acount_date{
    width: 100%;
    height: 0.8rem;
    background: white;
    line-height: 0.8rem;
    border: 0.1px solid#D3D3D3 ;
    border-left: none;
    border-right: none;
    border-top: none;
}
.acount_date>div:first-child{
    float: left;
    margin: 0rem 0.2rem 0;
    color: gray;
    font-size: 0.3rem;
}
.acount_date>div:last-child{
    float: left;
    margin: 0rem 0.2rem 0 ;
    color: orange;
    font-size: 0.3rem;
}

.liebiao{
    width: 100%;
    height: 1rem;
    border: 1px solid#D3D3D3 ;
    background: white;
    border-left: none;
    border-right: none;
}

.t1 td input{
    float: left;
    margin: 0 0.1rem 0 ;
}
#td1>{
    float: left;
    margin: 0rem 0.2rem 0;

}
#td1>p:first-child{
    color: #808080 ;
    font-size: 0.3rem;
}
#td1>label{

    /*color: gray;*/
    /*font-size: 0.4rem;*/
    color: #808080  ;
    font-size: 0.2rem;
}
#td2>div{
    float: right;
    margin: 0 0.1rem 0 ;
    color: gray;
    font-size: 0.4rem;
}


/*.divb{*/
    /*position: absolute;*/
    /*background: white;*/
    /*filter:Alpha(opacity=10);*/
    /*opacity: 0.1;*/
    /*height: 1.6rem;*/
    /*margin: 0 auto;*/
    /*width:100%;*/
/*}*/

/*.gongyu>div>img{*/
    /*float: left;*/
    /*margin: 0.4rem 0.2rem 0;*/
    /*height: 1.6rem;*/
    /*margin: 0 auto;*/
    /*width:100%;*/
/*}*/
.centertxt{
    float: left;
    margin: 0.3rem 0.2rem 0;
}
.centertxt>p:first-child{
    font-size: 0.3rem;
    color: white;
}
.centertxt>p:last-child{
    font-size: 0.5rem;
    color: white;
}

#login_form{
    width: 80%;
    margin: 0.5rem auto;
}
.myok{
    margin: 0 auto;
    width: 60%;
    border-radius: 20px;
    background:#2cc2ff ;
    border: none;
    outline: none;
    display: block;
}

.querytitle{
     width: 100%;
     background: white;
     border-bottom: 1px solid #f3f3f3;
     height: 0.8rem;
     line-height: 0.8rem;
     font-size: 0.25rem;
     margin: 0 auto;
 }
.toolleft{
    float: left;
    width: 75%;
    margin-left: 10%;
}

.toolright{
    float: right;
    width: 15%;
}
.line{
    height: 0.2rem;
    background: #fbf9fa;
}
.rent{
    width: 100%;
    font-size: 0.25rem;
    padding-left: 0.6rem;
    border-bottom: 1px solid #f3f3f3;
    background: white;
}

.rent >input[type=number]{
    width: 60%;
    border: none;
    outline: none;
    height: 0.8rem;
    font-size: 0.25rem;
}
.subbtn{
    font-size: 0.25rem;
     width: 80%;
     margin: 0 auto;
     background: #D9D9D9;
     height: 0.8rem;
     border-radius: 25px;
     border: none;
     outline: none;
     display: block;
    margin-top: 0.2rem;
 }

.subbtn:visited  , .subbtn:hover{
    font-size: 0.25rem;
    width: 80%;
    margin: 0 auto;
    background: #2cc2ff;
    height: 0.8rem;
    border-radius: 25px;
    border: none;
    outline: none;
    display: block;
    margin-top: 0.2rem;
}

.err{
    color: #e36179;
    font-size: 0.2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 0.2rem;
}


