body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input{ margin:0; padding:0;}
html {  width: 100%; font-family: 'Heiti SC', 'Microsoft YaHei'; font-size: 100px; outline: 0; -webkit-text-size-adjust:none;}
body {  width:100%; margin: 0; -webkit-user-select: none; position: relative; background-color:#efeff4;}
@font-face {
    /* font-properties */
    font-family: pictos;
    src:url(../font/myfont.TTC),
    url(../font/myfont.TTC),
    url(../font/myfont.TTC); /* IE9 */
}
.font-face{
    font-family: pictos;
}
@font-face {
    /* font-properties */
    font-family: my-font;
    src: url(../font/myfont.TTC);
}
.font-face2{
    font-family: my-font;
    color: green;
}
html{
    font-size: 45px;
}
                                                        /*<!--搜索框-->*/

.search {
    border: 1px solid #999999;
    width: 80%;
    height: 0.9rem;
    border-radius: 15px;
    background-color: white;
    /*position:absolute; top:1.27rem; left:10%; float:left;*/
    margin: 0.2rem auto;
}
.search img{
display: block; margin:0.3rem 0.25rem 0 0.25rem; float:left; width: 0.35rem; height: 0.35rem; background: url(../images/search.png) no-repeat; background-size: cover;
}
.search input[type=text] {
    width: 70%;
    height: 0.9rem;
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 0.4rem;
    float: left;
    line-height: 0.8rem;
    background:white;
}

.search input::-webkit-input-placeholder { /* WebKit browsers */
    color:grey;
    /*background:lightgreen;*/
    text-transform:uppercase;
    letter-spacing:1px;
    font-size: 0.3rem;
}
.search input::-moz-placeholder {
    color:grey;
    /*background:lightgreen;*/
    text-transform:uppercase;
    letter-spacing:1px;
    font-size: 0.3rem;
}


.listhead{
    width: 100%;
    height: 0.8rem;
    margin:0 auto;
    font-size: 0.3rem;
    color: #9d9d9d;
    background-color: #F6F6F6;
    line-height: 0.8rem;
    border: 1px solid#9d9d9d;
    border-left: none;
    border-right: none;
    border-top: none;
}

.querytitle{
    width: 100%;
    background: white;
    border-bottom: 1px solid #f3f3f3;
    height: 0.8rem;
    line-height: 0.8rem;
    margin: 0 auto;
    text-align: center;
}
.toolleft1{
    float: left;
    width: 15%;

}
.toolleft2{
    float: left;
    width: 22%;

}
.toolmoddle{
    float: left;
    width: 22%;

}

.toolright1{
    float: left;
    width: 31%;

}
.toolright2{
    float: left;
    width: 8%;

}
.jumplist{
    width: 100%;
    height: 0.8rem;
    margin:0 auto;
    font-size: 0.35rem;
    color: #9d9d9d;
    background-color: #F6F6F6;
    line-height: 0.8rem;
    border: 1px solid#9d9d9d;
    border-left: none;
    border-right: none;
    border-top: none;
}

a{color: grey; text-decoration:none;}
a:visited{color:#3399CC; text-decoration:none;font-weight:bold;}
a:hover{ text-decoration:underline;font-weight:bold;}

.clear {
    clear: both;
}
