body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input{ margin:0; padding:0;}
html {  width: 100%; font-family: 'Heiti SC', 'Microsoft YaHei'; font-size: 46px; outline: 0; -webkit-text-size-adjust:none;}
body {  width:100%; margin: 0; -webkit-user-select: none; position: relative; background-color:#efeff4;}
@font-face {
    /* font-properties */
    font-family: pictos;
    src:url(../font/myfont.TTC),
    url(../font/myfont.TTC),
    url(../font/myfont.TTC); /* IE9 */
}
.font-face{
    font-family: pictos;
}
@font-face {
    /* font-properties */
    font-family: my-font;
    src: url(../font/myfont.TTC);
}
.font-face2{
    font-family: my-font;
    color: green;
}

a{
    text-decoration: none;
    color: snow;

}


.querytitle{
    width: 80%;
    background: white;
    border-bottom: 1px solid #f3f3f3;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.25rem;
    margin: 0 auto;
    margin-top: 0.3rem;
}
.toolleft{
    float: left;
    width: 75%;
    margin-left: 10%;
}

.toolright{
    float: right;
    width: 15%;
}
input[type=text]{
    width: 80%;
    display: block;
    margin: 0 auto;
    border: none;
    background: white;
    margin-top: 0.3rem;
    height: 0.6rem;
    font-size: 0.25rem;
}